<div class="registration-wrapper">
	<div class="row">
		<h2 id="registration-banner">Guest Registration</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quis consequuntur alias suscipit illum dolorum recusandae hic quod odit molestiae. Cumque, dolorem ex facere voluptatem quia officia suscipit reiciendis neque.</p>
		<br>
		<h3>New Guest Registration</h3>

		<%= form_for(@guest_info) do |f| %>

			<%= f.label :first_name, "First Name:" %>
			<%= f.text_field :first_name %>

			<%= f.label :last_name, "Last Name:" %>
			<%= f.text_field :last_name %>

			<%= f.label :destination, "Destination:" %>
			<%= f.text_field :destination %>

			<%= f.label :trip_date, "Trip Date:" %>
			<%= f.text_field :trip_date %>

			<%= f.label :bus_number, "Bus Number:" %>
			<%= f.text_field :bus_number %>

			<%= f.label :phone, "Phone Number:" %>
			<%= f.telephone_field :phone %>

			<%= f.submit "Register new guest", class: "button" %>

		<% end %>

	</div>
</div>
