<div class="add-trip-wrapper">
  <div class="row">
    <h2>Add a trip</h2>
    <p>Select the .CSV file containing the trip roster that will be uploaded and hit submit.
      You'll then be able to select your trip and start checking guests in!</p>
    <br>

    <%= form_for(:upload, url: uploads_path) do |f| %>
      <%= f.label :bus_name, "Bus Name" %>
      <%= f.text_field :bus_name %>

      <%= f.label :file, "Please select the trip roster file to upload:" %>
      <%= f.file_field :file %>

      <%= f.submit "Upload" %>

    <% end %>

  </div>
</div>
