<div class="row" id="trip-show">
  <div id="trip-name">
    <strong><u><%= @trip.name.capitalize %> Bus: <%= @trip.bus_number %></u></strong>
  </div>

  <div id="checkin-count">
    <ul id="package-breakdwon">
      <li><strong><u>Package Breakdown: </u></strong></li>
      <li>Bus Only: <%= @bus_only_total %></li>
      <li>Ticket and Ski Rental: <%= @ticket_and_ski_rental_count %></li>
      <li>Ticket and Lunch: <%= @ticket_and_lunch_count %></li>
      <li>Ticket and Snowboard Rental: <%= @ticket_and_board_rental_count %></li>
      <li>Ticket, Board, Lesson, Lunch: <%= @ticket_lunch_board_lesson %></li>
      <li>Adult Tickets: <%= @checked_in_count %></li>
      <br>
    </ul>
      <br>
    <strong><u>Total Checked In <strong>(Morning)</strong></u></strong>  <%= @checked_in_count %>
      <br>
    <strong><u>Total Checked In <strong>(Afternoon)</strong></u></strong>
  </div>

  <div id="guest-info">
    <% @guest_infos.each do |guest| %>
      <p><%= guest.last_name %>,  <%= guest.first_name %>  <%= link_to 'Check in', check_in_guest_info_path(guest), :method => :put %></p>
    <% end %>
  </div>
</div>


