<!DOCTYPE html>
<html>
<head>
  <title>Bay Area Ski Bus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<%= render 'layouts/header' %>

  <div class="row" id="flash">
      <% flash.each do |key, value| %>
        <div class="alert-success"><%= value %></div>
      <% end %>
  </div>

<%= yield %>

<%= render 'layouts/footer' %>


</body>
</html>
